registry=https://pkgs.dev.azure.com/exsapps/PyPi/_packaging/centaur/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/exsapps/PyPi/_packaging/centaur/npm/registry/:username=${NPM_USER}
//pkgs.dev.azure.com/exsapps/PyPi/_packaging/centaur/npm/registry/:_password=${NPM_TOKEN}
; end auth token